registry=https://registry.npmmirror.com/
puppeteer_download_host=https://npmmirror.com/mirrors
electron_mirror=https://npmmirror.com/mirrors/electron/
electron-builder-binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
sharp_binary_host=https://npmmirror.com/mirrors/sharp
sharp_libvips_binary_host=https://npmmirror.com/mirrors/sharp-libvips

# fix renovate not update pnpm-lock.yaml
strict-peer-dependencies=false

# access pnpm phantom dependencies
public-hoist-pattern[]=*types* # default
public-hoist-pattern[]=*eslint* # default
public-hoist-pattern[]=*prettier* # default
public-hoist-pattern[]=@vue* # vue
public-hoist-pattern[]=@semantic-release/*
public-hoist-pattern[]=@commitlint/*
public-hoist-pattern[]=*stylelint*
public-hoist-pattern[]=postcss*
public-hoist-pattern[]=tslib # typescript
public-hoist-pattern[]=@tiptap/*
public-hoist-pattern[]=prosemirror*