@import './markdown.scss';

$primary-color: #409eff;
$white-color: #fff;

.vuetify-pro-tiptap {
  overflow-wrap: anywhere;

  &-editor {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    width: 100%;

    &--fullscreen {
      border-radius: 0 !important;
      bottom: 0 !important;
      height: 100% !important;
      left: 0 !important;
      margin: 0 !important;
      position: fixed !important;
      right: 0 !important;
      top: 0 !important;
      width: 100% !important;
      z-index: 200;
    }

    &__menu-bubble {
      .v-toolbar__content {
        padding: 0;
      }
    }

    &__toolbar {
      .v-toolbar__content {
        flex-wrap: wrap;
        padding: 4px 12px;
      }
    }

    &__content {
      :focus-visible {
        outline: -webkit-focus-ring-color auto 0px;
      }

      img {
        display: inline-block;
        float: none;

        &[data-display='inline'] {
          padding-left: 12px;
          padding-right: 12px;
        }

        &[data-display='block'] {
          display: block;
        }

        &[data-display='left'] {
          float: left;
          padding-left: 0;
          padding-right: 12px;
        }

        &[data-display='right'] {
          float: right;
          padding-left: 12px;
          padding-right: 0;
        }
      }

      .task-list {
        list-style: none;
        padding-left: 0;

        .task-list-item {
          list-style: none;
          display: flex;

          > label {
            flex: 0 0 auto;
            padding-left: 8px;
            padding-right: 8px;
            user-select: none;
          }

          > div {
            flex: 1 1 auto;
          }
        }
      }

      &.markdown-body {
        @include markdown-body;
      }
    }
  }

  .ProseMirror {
    padding: 8px 18px;
    min-height: 180px;
    overflow-wrap: anywhere;

    .iframe-wrapper {
      &.focus {
        > div {
          outline: 4px solid $primary-color;
        }
      }
    }

    .image-view {
      $root: &;

      display: inline-block;
      max-width: 100%;
      line-height: 0;
      float: none;
      user-select: none;
      vertical-align: baseline;

      &--inline {
        margin-left: 0;
        margin-right: 0;
      }

      &--block {
        display: block;
      }

      &--left {
        float: left;
        margin-left: 0;
        margin-right: 12px;
      }

      &--right {
        float: right;
        margin-left: 12px;
        margin-right: 0;
      }

      &__body {
        clear: both;
        display: inline-block;
        max-width: 100%;
        outline-color: transparent;
        outline-style: solid;
        outline-width: 2px;
        transition: all 0.2s ease-in;
        position: relative;

        &:hover {
          outline-color: #ffc83d;
        }

        &--focused:hover,
        &--resizing:hover {
          outline-color: transparent;
        }

        &__placeholder {
          height: 100%;
          left: 0;
          position: absolute;
          top: 0;
          width: 100%;
          z-index: -1;
        }

        &__image {
          cursor: pointer !important;
          margin: 0;
        }
      }

      &.focus {
        img {
          outline: 2px solid $primary-color;
        }
      }
    }

    .image-resizer {
      border: 1px solid $primary-color;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 1;

      &__handler {
        background-color: $primary-color;
        border: 1px solid $white-color;
        border-radius: 2px;
        box-sizing: border-box;
        display: block;
        height: 12px;
        position: absolute;
        width: 12px;
        z-index: 2;

        &--tl {
          cursor: nw-resize;
          left: -6px;
          top: -6px;
        }

        &--tr {
          cursor: ne-resize;
          right: -6px;
          top: -6px;
        }

        &--bl {
          bottom: -6px;
          cursor: sw-resize;
          left: -6px;
        }

        &--br {
          bottom: -6px;
          cursor: se-resize;
          right: -6px;
        }
      }
    }
  }

  &.dense {
    .ProseMirror {
      padding: 6px 12px;
      min-height: 32px;
    }
    p {
      padding: 0 0;
      line-height: 1.2rem;
    }
  }
}
