/*
 * @See https://github.com/linxsbox/juejin-markdown-theme-cyanosis/blob/main/cyanosis.scss
 * @Author: linxsbox
 * @Date: 2022-06-29 18:23:42
 * @Last Modified by: yky
 * @Last Modified time: 2023-03-26 17:46:37
 */

$monospace-font: menlo, monaco, consolas, 'Courier New', monospace;
$line-space: 16px;
$id: '--cyanosis';
$l-base-color: #353535;
$l-title-color: #005bb7;
$l-strong-color: #2196f3;
$l-em-color: #4fc3f7;
$l-del-color: #ccc;
$l-link-color: #3da8f5;
$l-linkh-color: #007fff;
$l-border-color: #bedcff;
$l-border-color2: #ececec;
$l-bg-color: #fff;
$l-blockquote-color: #8c8c8c;
$l-blockquote-bg-color: #f0fdff;
$l-code-color: #c2185b;
$l-code-bg-color: #fff4f4;
$l-code-pre-color: #f8f8f8;
$l-table-border-color: #c3e0fd;
$l-table-th-color: #dff0ff;
$l-table-tht-color: $l-title-color;
$l-table-tr-nc-color: #f7fbff;
$l-table-trh-color: #e0edf7;
$l-selection-text-color: #c80000;
$l-selection-bg-color: rgb(175 207 247 / 25%);
$l-selection-title-color: $l-title-color;
$l-selection-title-bg-color: $l-selection-bg-color;
$l-selection-del-color: #999;
$l-selection-el-bg-color: #e8ebec;
$l-selection-code-bg-color: #ffeaeb;
$l-selection-pre-code-bg-color: rgb(160 200 255 / 25%);
$d-base-color: #cacaca;
$d-title-color: #ddd;
$d-strong-color: #fe9900;
$d-em-color: #ffd28e;
$d-del-color: #ccc;
$d-link-color: #ffb648;
$d-linkh-color: $d-strong-color;
$d-border-color: #ffe3ba;
$d-border-color2: #ffcb7b;
$d-bg-color: #2f2f2f;
$d-blockquote-color: #c7c7c7;
$d-blockquote-bg-color: rgb(255 199 116 / 10%);
$d-code-color: #000;
$d-code-bg-color: $d-border-color2;
$d-code-pre-color: rgb(255 227 185 / 50%);
$d-table-border-color: $d-strong-color;
$d-table-th-color: $d-link-color;
$d-table-tht-color: $d-code-color;
$d-table-tr-nc-color: #6d5736;
$d-table-trh-color: #947443;
$d-selection-text-color: #00c888;
$d-selection-bg-color: rgb(175 207 247 / 25%);
$d-selection-title-color: $d-code-color;
$d-selection-title-bg-color: $d-strong-color;
$d-selection-del-color: #999;
$d-selection-el-bg-color: $d-code-color;
$d-selection-code-bg-color: $d-border-color2;
$d-selection-pre-code-bg-color: rgb(160 200 255 / 25%);

@mixin light-and-dark($isDark: false) {
  #{$id}-base-color: if($isDark, $d-base-color, $l-base-color);
  #{$id}-title-color: if($isDark, $d-title-color, $l-title-color);
  #{$id}-strong-color: if($isDark, $d-strong-color, $l-strong-color);
  #{$id}-em-color: if($isDark, $d-em-color, $l-em-color);
  #{$id}-del-color: if($isDark, $d-del-color, $l-del-color);
  #{$id}-link-color: if($isDark, $d-link-color, $l-link-color);
  #{$id}-linkh-color: if($isDark, $d-linkh-color, $l-linkh-color);
  #{$id}-border-color: if($isDark, $d-border-color, $l-border-color);
  #{$id}-border-color-2: if($isDark, $d-border-color2, $l-border-color2);
  #{$id}-bg-color: if($isDark, $d-bg-color, $l-bg-color);
  #{$id}-blockquote-color: if($isDark, $d-blockquote-color, $l-blockquote-color);
  #{$id}-blockquote-bg-color: if($isDark, $d-blockquote-bg-color, $l-blockquote-bg-color);
  #{$id}-code-color: if($isDark, $d-code-color, $l-code-color);
  #{$id}-code-bg-color: if($isDark, $d-code-bg-color, $l-code-bg-color);
  #{$id}-code-pre-color: if($isDark, $d-code-pre-color, $l-code-pre-color);
  #{$id}-table-border-color: if($isDark, $d-table-border-color, $l-table-border-color);
  #{$id}-table-th-color: if($isDark, $d-table-th-color, $l-table-th-color);
  #{$id}-table-tht-color: if($isDark, $d-table-tht-color, $l-table-tht-color);
  #{$id}-table-tr-nc-color: if($isDark, $d-table-tr-nc-color, $l-table-tr-nc-color);
  #{$id}-table-trh-color: if($isDark, $d-table-trh-color, $l-table-trh-color);
  #{$id}-slct-title-color: if($isDark, $d-selection-title-color, $l-selection-title-color);
  #{$id}-slct-titlebg-color: if($isDark, $d-selection-title-bg-color, $l-selection-title-bg-color);
  #{$id}-slct-text-color: if($isDark, $d-selection-text-color, $l-selection-text-color);
  #{$id}-slct-bg-color: if($isDark, $d-selection-bg-color, $l-selection-bg-color);
  #{$id}-slct-del-color: if($isDark, $d-selection-del-color, $l-selection-del-color);
  #{$id}-slct-elbg-color: if($isDark, $d-selection-el-bg-color, $l-selection-el-bg-color);
  #{$id}-slct-codebg-color: if($isDark, $d-selection-code-bg-color, $l-selection-code-bg-color);
  #{$id}-slct-prebg-color: if($isDark, $d-selection-pre-code-bg-color, $l-selection-pre-code-bg-color);
}

@mixin transition-color() {
  transition: color 0.35s;
}

@mixin head-title($padb: 4px, $fontSize: 24px, $mtop: 36px) {
  padding-bottom: $padb;
  margin-top: $mtop;
  margin-bottom: 10px;
  font-size: $fontSize;
  line-height: 1.5;
  color: var(--cyanosis-title-color);
}

@mixin blockquote-color {
  color: var(--cyanosis-blockquote-color);
  background-color: var(--cyanosis-blockquote-bg-color);
  border-left: 4px solid var(--cyanosis-strong-color);
}

@mixin selection-color($bg-color: '', $txtColor: '') {
  @if $bg-color != '' {
    background-color: var($bg-color);
  }

  @if $txtColor != '' {
    color: var($txtColor);
  }
}

@mixin markdown-body {
  overflow-x: hidden;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.75;
  color: var(--cyanosis-base-color);
  overflow-wrap: break-word;

  @include transition-color;

  h1 {
    @include head-title(4px, 30px);
    @include transition-color;
  }

  h2 {
    position: relative;
    padding-right: 10px;
    padding-left: 10px;
    border-bottom: 1px solid var(--cyanosis-border-color-2);

    @include head-title(10px, 24px);
    @include transition-color;

    &::before {
      position: relative;
      top: -6px;
      left: auto;
      content: '「';
    }

    &::after {
      position: relative;
      top: 6px;
      right: auto;
      content: '」';
    }
  }

  h3 {
    position: relative;

    @include head-title(0, 20px, 30px);

    padding-left: 6px;

    @include transition-color;

    &::before {
      padding-right: 6px;
      color: var(--cyanosis-strong-color);
      content: '»';
    }
  }

  h4 {
    @include head-title(0, 16px, 24px);

    padding-left: 6px;

    @include transition-color;
  }

  h5 {
    @include head-title(0, 14px, 18px);

    padding-left: 6px;

    @include transition-color;
  }

  h6 {
    @include head-title(0, 12px, 12px);

    padding-left: 6px;

    @include transition-color;
  }

  p {
    margin-top: $line-space;
    margin-bottom: $line-space;
    line-height: inherit;

    &:empty::after {
      content: '\00A0';
    }
  }

  img {
    max-width: 100%;
  }

  hr {
    position: relative;
    width: 98%;
    height: 1px;
    margin-top: 32px;
    margin-bottom: 32px;
    overflow: visible;
    background-image: linear-gradient(
      90deg,
      var(--cyanosis-link-color),
      rgb(255 0 0 / 30%),
      var(--cyanosis-link-color)
    );
    border-width: 0;
  }

  code {
    padding: 0.065em 0.4em;
    overflow-x: auto;
    font-family: $monospace-font;
    font-size: 0.87em;
    color: var(--cyanosis-code-color);
    overflow-wrap: break-word;
    background-color: var(--cyanosis-code-bg-color);
    border-radius: 2px;
  }

  pre {
    position: relative;
    overflow: auto;
    font-family: $monospace-font;
    line-height: 1.75;

    > code {
      display: block;
      padding: 16px 12px;
      margin: 0;
      overflow-x: auto;
      font-size: 12px;
      color: #333;
      word-break: normal;
      background: var(--cyanosis-code-pre-color);

      &::-webkit-scrollbar {
        width: 4px;
        height: 4px;
      }

      &::-webkit-scrollbar-track {
        background-color: var(--cyanosis-border-color);
      }

      &::-webkit-scrollbar-thumb {
        background-color: var(--cyanosis-strong-color);
        border-radius: 10px;
      }
    }
  }

  a {
    position: relative;
    color: var(--cyanosis-link-color);
    text-decoration: none;
    border-bottom: 1px solid var(--cyanosis-border-color);

    &:hover {
      color: var(--cyanosis-linkh-color);
      border-bottom-color: var(--cyanosis-linkh-color);
    }

    &:active {
      color: var(--cyanosis-linkh-color);
    }

    &::after {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      content: '';
      border-bottom: 1px solid var(--cyanosis-border-color);
      opacity: 0;
      transform: translate3d(0, 0, 0);
      transition:
        top 0.3s,
        opacity 0.3s;
    }

    &:hover::after {
      top: 0;
      border-bottom-color: var(--cyanosis-linkh-color);
      opacity: 1;
    }
  }

  table {
    display: inline-block !important;
    width: auto;
    max-width: 100%;
    overflow: auto;
    font-size: 12px;
    border-spacing: 0;
    border-collapse: collapse;
    border: 1px solid var(--cyanosis-table-border-color);

    thead th {
      &::selection {
        background-color: transparent;
      }
    }

    thead {
      font-size: 14px;
      color: #000;
      text-align: left;
      background: #f6f6f6;
    }

    tbody td {
      &::selection {
        background-color: var(--cyanosis-slct-bg-color);
      }
    }

    p {
      margin: 0;
    }

    tr:nth-child(2n) {
      background-color: var(--cyanosis-table-tr-nc-color);
    }

    tr:hover {
      background-color: var(--cyanosis-table-trh-color);
    }

    th,
    td {
      padding: 12px 8px;
      line-height: 24px;
      border: 1px solid var(--cyanosis-table-border-color);
    }

    th {
      color: var(--cyanosis-table-tht-color);
      background-color: var(--cyanosis-table-th-color);
    }

    td {
      min-width: 120px;
    }
  }

  b,
  strong {
    color: var(--cyanosis-strong-color);
  }

  blockquote {
    @include blockquote-color;

    padding: 1px 20px;
    margin: 22px 0;

    @include transition-color;

    &::after {
      display: block;
      content: '';
    }

    & > p {
      margin: 10px 0;
    }

    & > b,
    & > strong {
      color: var(--cyanosis-strong-color);
    }
  }

  i,
  em {
    color: var(--cyanosis-em-color);
  }

  del {
    color: var(--cyanosis-del-color);
  }

  // details & summary
  details {
    & > summary {
      font-size: 20px;
      font-weight: bolder;
      color: var(--cyanosis-title-color);
      cursor: pointer;
      outline: none;
      border-bottom: 1px solid var(--cyanosis-border-color);
    }

    & > p {
      padding: 10px 20px;
      margin: 10px 0 0;
      color: #666;
      background-color: var(--cyanosis-blockquote-bg-color);
      border: 2px dashed var(--cyanosis-strong-color);
    }
  }

  ol,
  ul {
    padding-left: 28px;

    ul,
    ol {
      margin-top: 4px;
    }

    li {
      margin-bottom: 0;
      list-style: inherit;

      p {
        margin: 0;
      }

      & .task-list-item {
        list-style: none;

        ul,
        ol {
          margin-top: 0;
        }
      }
    }
  }

  // selection
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    &::selection {
      @include selection-color;

      color: var(--cyanosis-slct-title-color);
      background-color: var(--cyanosis-slct-titlebg-color);
    }
  }

  p,
  ol li,
  ul li {
    &::selection {
      color: var(--cyanosis-slct-text-color);
      background-color: var(--cyanosis-slct-bg-color);
    }
  }

  a,
  b,
  strong,
  i,
  em {
    &::selection {
      background-color: var(--cyanosis-slct-elbg-color);
    }
  }

  del::selection {
    color: var(--cyanosis-slct-del-color);
    background-color: var(--cyanosis-slct-elbg-color);
  }

  code::selection {
    background-color: var(--cyanosis-slct-codebg-color);
  }

  pre > code::selection {
    background-color: var(--cyanosis-slct-prebg-color);
  }

  .task-list {
    padding-left: 0;
    list-style: none;

    input[type='checkbox'] {
      position: relative;

      &::before {
        position: absolute;
        inset: 0;
        z-index: 1;
        box-sizing: border-box;
        width: inherit;
        height: inherit;
        content: '';
        background: #f0f8ff;
        border: 1px solid #add6ff;
        border-radius: 2px;
      }

      &:checked {
        &::after {
          position: absolute;
          inset: -12px 0 0;
          z-index: 2;
          width: 0;
          height: 0;
          font-size: 20px;
          font-weight: bold;
          color: #f55;
          content: '\2713';
        }
      }
    }
  }

  // @media
  @media (width <= 720px) {
    h1 {
      font-size: 24px;
    }

    h2 {
      font-size: 20px;
    }

    h3 {
      font-size: 18px;
    }
  }
}

.vuetify-pro-tiptap-editor__content.markdown-theme-default {
  @include light-and-dark;

  &.__dark {
    @include light-and-dark(true);
  }

  .tiptap.ProseMirror,
  .content {
    @include markdown-body;
  }
}
