/*
 * @See https://github.com/iota9star/juejin-markdown-theme-maidragon/blob/main/maidragon.scss
 * @Author: iota9star
 * @Date: 2023-06-12 22:11:14
 * @Last Modified by: mikey.zhaopeng
 * @Last Modified time: 2023-06-Fr 08:33:16
 */

/* stylelint-disable */
$monospace-font: menlo, monaco, consolas, 'Courier New', monospace;
$-hover: '//cdn.jsdelivr.net/gh/iota9star/juejin-markdown-theme-maidragon@master/assets/hover.svg';
$-hat: '//cdn.jsdelivr.net/gh/iota9star/juejin-markdown-theme-maidragon@master/assets/hat.png';
$-dragon: '//cdn.jsdelivr.net/gh/iota9star/juejin-markdown-theme-maidragon@master/assets/dragon.svg';
$-float: '//cdn.jsdelivr.net/gh/iota9star/juejin-markdown-theme-maidragon@master/assets/float.png';
$-float2: '//cdn.jsdelivr.net/gh/iota9star/juejin-markdown-theme-maidragon@master/assets/float2.png';
$-yellow: #ffd913;
$-orange: #ff9b00;
$-green: #50aa32;
$-dark-green: #008403;
$-red: #fe226f;

@mixin markdown-theme-maidragon {
  position: relative !important;
  z-index: 1 !important;
  display: -webkit-box !important;
  display: flex !important;
  display: -moz-box !important;
  display: flexbox !important;
  display: flex !important;
  flex-direction: column !important;
  flex-direction: column !important;
  flex-direction: column !important;
  // min-height: 500px;
  overflow-x: hidden;
  font-size: 14px;
  text-shadow: 0 0 1px rgb(0 0 0 / 10%);
  letter-spacing: 1px;
  word-break: break-word;
  transition: all 0.3s !important;
  transition: all 0.3s !important;
  transition: all 0.3s !important;
  transition: all 0.3s !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
  -moz-box-orient: vertical !important;
  -moz-box-direction: normal !important;

  &::before,
  &::after {
    position: absolute;
    z-index: -2;
    pointer-events: none;
    content: '';
    background-repeat: no-repeat;
    background-size: contain;
    background-size: contain;
    background-size: contain;
    will-change: transform;
  }

  &::before {
    top: 64px;
    right: -16px;
    width: 360px;
    height: 132px;
    background-image: url($-float);
    animation: floatit infinite 5.6s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate;
    animation: floatit infinite 5.6s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate;
    animation: floatit infinite 5.6s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate;
    animation: floatit infinite 5.6s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate;
  }

  &::after {
    bottom: 4%;
    left: -64px;
    width: 380px;
    height: 176px;
    background-image: url($-float2);
    opacity: 0.87;
    animation: floatit infinite 6.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate;
    animation: floatit infinite 6.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate;
    animation: floatit infinite 6.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate;
    animation: floatit infinite 6.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    position: relative;
    z-index: 0;
    margin-top: 28px;
    margin-bottom: 10px;
    line-height: 1.5;
    color: $-green;
    text-shadow: none;

    &::before,
    &::after {
      position: absolute;
      content: '';
      background-repeat: no-repeat;
      background-size: contain;
      background-size: contain;
      background-size: contain;
    }

    a {
      &::after {
        display: none;
      }
    }
  }

  h1 {
    align-self: center;
    align-self: center;
    margin-top: 96px;
    margin-right: 64px;
    margin-left: 64px;
    font-size: 30px;
    font-weight: bold;
    stroke-width: 2px;
    -ms-flex-item-align: center;

    &::before {
      top: -28px;
      left: -40px;
      width: 96px;
      height: 96px;
      background-image: url($-hat);
      transform: rotate(-36deg);
      transform: rotate(-36deg);
      transform: rotate(-36deg);
      transform: rotate(-36deg);
      transform: rotate(-36deg);
    }

    &::after {
      right: -78px;
      bottom: 0;
      z-index: -1;
      width: 78px;
      height: 78px;
      background-image: url($-dragon);
    }
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    &::before {
      z-index: -1;
      display: inline-block;
      background-color: rgba($-orange, 0.87);
      transition: -webkit-border-radius 0.3s;
      transition: border-radius 0.3s;
      transition:
        border-radius 0.3s,
        -moz-border-radius 0.3s;
      transition: -webkit-border-radius 0.3s;
      transition: border-radius 0.3s;
      transition:
        border-radius 0.3s,
        -webkit-border-radius 0.3s,
        -moz-border-radius 0.3s;
    }

    &:hover {
      &::before {
        border-radius: 50%;
        border-radius: 50%;
        border-radius: 50%;
      }
    }
  }

  h2 {
    padding-bottom: 12px;
    font-size: 24px;
    font-weight: bold;
    border-bottom: 4px solid rgba($-green, 0.36);

    &::before {
      left: -4px;
      width: 16px;
      height: 16px;
    }

    &::after {
      right: 0;
      bottom: 0;
      z-index: -1;
      width: 36px;
      height: 56px;
      background-image: url($-dragon);
    }

    &:hover {
      &::after {
        animation: shakeit 0.3s;
        animation: shakeit 0.3s;
        animation: shakeit 0.3s;
        animation: shakeit 0.3s;
      }
    }
  }

  h3,
  h4,
  h5,
  h6 {
    &::after {
      position: absolute;
      right: 0;
      bottom: 0;
      font-style: italic;
      font-weight: bold;
      line-height: 1;
      color: rgba($-orange, 0.1);
      text-shadow: none;
    }
  }

  h3 {
    padding-bottom: 0;
    font-size: 18px;
    font-weight: bold;

    &::before {
      left: -4px;
      width: 14px;
      height: 14px;
    }

    &::after {
      font-size: 42px;
      content: '3.';
    }
  }

  h4 {
    font-size: 16px;

    &::before {
      left: -4px;
      width: 12px;
      height: 12px;
    }

    &::after {
      font-size: 36px;
      content: '4.';
    }
  }

  h5 {
    font-size: 15px;

    &::before {
      left: -4px;
      width: 10px;
      height: 10px;
    }

    &::after {
      font-size: 28px;
      content: '5.';
    }
  }

  h6 {
    margin-top: 5px;

    &::before {
      left: -4px;
      width: 8px;
      height: 8px;
    }

    &::after {
      font-size: 24px;
      content: '6.';
    }
  }

  p {
    position: relative;
    margin: 12px 0;
    line-height: 24px;
    text-align: justify;
    vertical-align: middle;

    &:empty::after {
      content: '\00A0';
    }
  }

  img {
    position: relative;
    // left: 50%;
    max-width: 100%;
    border-radius: 4px;
    transition: all 0.36s;
    // transform: translateX(0%);
    will-change: transform;
    display: inline-block;
    float: none;

    &:hover {
      box-shadow: 0 0 8px rgb(80 170 50 / 10%);
      // transform: translate(0%, -4px);
    }

    &[data-display='inline'] {
      padding-right: 12px;
      padding-left: 12px;
    }

    &[data-display='block'] {
      display: block;
    }

    &[data-display='left'] {
      float: left;
      padding-right: 12px;
      padding-left: 0;
    }

    &[data-display='right'] {
      float: right;
      padding-right: 0;
      padding-left: 12px;
    }
  }

  hr {
    width: 100%;
    margin-top: 32px;
    margin-bottom: 32px;
    border-top: 1px solid rgba($-green, 0.36);
    border-right: none;
    border-bottom: none;
    border-left: none;
  }

  a {
    position: relative;
    z-index: 0;
    margin: 0 4px;
    font-weight: bold;
    line-height: 24px;
    color: $-orange;
    text-decoration: none;
    text-shadow: none;
    transition: all 0.3s;
    transition: all 0.3s;
    transition: all 0.3s;
    transition: all 0.3s;

    &::before,
    &::after {
      position: absolute;
      content: '';
    }

    &::before {
      top: -3px;
      right: -3px;
      z-index: 1;
      width: 6px;
      height: 6px;
      background-color: $-green;
      transition: all 0.4s;
      transition: all 0.4s;
      transition: all 0.4s;
      transition: all 0.4s;
    }

    &::after {
      bottom: -6px;
      left: 0;
      width: 0;
      height: 2px;
      transition: all 0.3s;
      transition: all 0.3s;
      transition: all 0.3s;
      transition: all 0.3s;
    }

    &:visited {
      &::before {
        background-color: $-yellow;
      }
    }

    &:hover,
    &:active {
      color: $-red;
      text-shadow: none;

      &::before {
        background-color: $-orange;
        border-radius: 50%;
        border-radius: 50%;
        border-radius: 50%;
      }

      &::after {
        width: 100%;
        background-color: rgba($-green, 0.38);
      }
    }
  }

  table {
    position: relative;
    z-index: 0;
    width: 100%;
    max-width: 100%;
    margin-top: 48px;
    overflow: auto;
    font-size: 13px;
    border-collapse: collapse;
    border: solid 4px rgba($-green, 0.38);

    &::after {
      position: absolute;
      right: -12px;
      bottom: 0;
      z-index: -1;
      width: 100%;
      height: calc(100% + 48px);
      content: '';
      background-image: url($-dragon);
      background-repeat: no-repeat;
      background-position: right;
      background-size: contain;
      background-size: contain;
      background-size: contain;
      opacity: 0.24;
    }

    thead {
      font-size: 14px;
      font-weight: bold;
      text-align: left;
      background: rgba($-green, 0.2);
    }

    tr:nth-child(2n) {
      background-color: rgba($-green, 0.1);
    }

    th,
    td {
      padding: 8px 12px;
      line-height: 24px;

      p {
        margin: 0;
      }
    }

    td {
      min-width: 48px;
    }
  }

  del {
    position: relative;
    z-index: 0;
    text-decoration: line-through rgb(254 34 111 / 10%) 8px;
    text-decoration: line-through rgb(254 34 111 / 10%) 8px;
    text-decoration: line-through rgb(254 34 111 / 38%) 8px;

    &:hover {
      text-decoration-color: rgb(80 170 50 / 38%);
      text-decoration-color: rgb(80 170 50 / 38%);
      text-decoration-color: rgb(80 170 50 / 38%);
    }
  }

  code {
    position: relative;
    box-sizing: border-box;
    box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 4px;
    overflow-x: auto;
    font-family: $monospace-font;
    line-height: 24px;
    color: $-dark-green;
    text-shadow: none;
    letter-spacing: 0;
    word-break: break-word;
    border: 2px solid transparent;
    border-radius: 2px;
    border-radius: 2px;
    border-radius: 2px;
    transition: all 0.3s;
    transition: all 0.3s;
    transition: all 0.3s;
    transition: all 0.3s;

    &::after {
      position: absolute;
      top: -3px;
      right: -3px;
      width: 6px;
      height: 6px;
      content: '';
      background-color: $-red;
      transition: all 0.3s;
      transition: all 0.3s;
      transition: all 0.3s;
      transition: all 0.3s;
    }

    &:hover {
      background-color: rgba($-green, 0.2);
      border-color: $-green;

      &::after {
        background-color: $-orange;
        border-radius: 50%;
        border-radius: 50%;
        border-radius: 50%;
      }
    }
  }

  pre {
    position: relative;
    overflow: auto;
    font-family: $monospace-font;
    line-height: 1.75;

    > code {
      display: block;
      padding: 12px;
      margin: 0;
      overflow-x: auto;
      font-size: 12px;
      word-break: normal;
      border: none;
      border-radius: 0;
      border-radius: 0;
      border-radius: 0;

      &::after {
        display: none;
      }
    }
  }

  blockquote {
    position: relative;
    padding: 1.6rem;
    margin: 22px 0;
    color: #444;
    text-shadow: none;
    background-color: rgba($-green, 0.1);
    border-radius: 36px 16px 16px;
    border-radius: 36px 16px 16px;
    border-radius: 36px 16px 16px;
    transition: 0.18s cubic-bezier(0.18, 0.89, 0.52, 1.94);
    transition: 0.18s cubic-bezier(0.18, 0.89, 0.52, 1.94);
    transition: 0.18s cubic-bezier(0.18, 0.89, 0.52, 1.94);
    transition: 0.18s cubic-bezier(0.18, 0.89, 0.52, 1.94);
    will-change: transform;

    &:hover {
      transform: scale(1.01) rotate(1deg);
      transform: scale(1.01) rotate(1deg);
      transform: scale(1.01) rotate(1deg);
      transform: scale(1.01) rotate(1deg);
      transform: scale(1.01) rotate(1deg);
    }

    &::before {
      position: absolute;
      top: -8px;
      left: -8px;
      z-index: 1;
      width: 36px;
      height: 36px;
      content: '';
      background-image: url($-hover);
    }

    &::after {
      position: absolute;
      right: -16px;
      bottom: 0;
      display: block;
      height: 56px;
      font-size: 56px;
      font-weight: bold;
      color: $-green;
      text-shadow: none;
      content: 'â€';
    }

    & > p {
      margin: 10px 0;
    }
  }

  ol,
  ul {
    padding-left: 2rem;

    li {
      position: relative;
      z-index: 0;
      margin-bottom: 12px;
      list-style: inherit;

      &::marker {
        color: $-green;
        text-shadow: none;
      }

      input[type='checkbox'] {
        box-sizing: border-box;
        box-sizing: border-box;
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        color: transparent !important;
        text-shadow: none;
        appearance: none;
        appearance: none;
        appearance: none;
        background-color: transparent !important;
        border: none !important;

        &::before {
          position: absolute;
          top: 6px;
          left: 0;
          width: 12px;
          height: 12px;
          content: '';
          border: 2px solid rgba($-orange, 0.87);
          border-radius: 50%;
          border-radius: 50%;
          border-radius: 50%;
        }

        &:checked::after {
          position: absolute;
          top: 14px;
          left: 4px;
          z-index: 0;
          width: 5px;
          height: 2px;
          content: '';
          border-bottom: 2px solid white;
          border-left: 2px solid white;
          transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
        }

        &:checked::before {
          background-color: $-green;
          border-color: $-green;
        }
      }

      &.task-list-item {
        padding-left: 20px;
        list-style: none;

        ul,
        ol {
          margin-top: 0;
        }
      }
    }

    ul,
    ol {
      margin-top: 3px;
    }
  }

  ol > li {
    &::marker {
      font-size: 18px;
      font-weight: bold;
      color: $-green;
      text-shadow: none;
    }
  }

  ol li {
    padding-left: 6px;
  }

  @media (width <= 720px) {
    h1 {
      font-size: 24px;
    }

    h2 {
      font-size: 20px;
    }

    h3 {
      font-size: 18px;
    }
  }
}

@keyframes shakeit {
  to {
    opacity: 0.01;
    transform: scale(2.4);
  }
}

@keyframes floatit {
  to {
    transform: translate(24px, 36px);
    transform: translate(24px, 36px);
    transform: translate(24px, 36px);
    transform: translate(24px, 36px);
  }
}

.vuetify-pro-tiptap-editor__content.markdown-theme-maidragon {
  &.__dark {
    color: white !important;

    &::after {
      filter: invert(98%) !important;
    }

    blockquote {
      color: #f6f6f6 !important;
    }
  }

  .tiptap.ProseMirror,
  .content {
    @include markdown-theme-maidragon;
  }
}
