name: Publish PR Commit Pkg

on:
  push:
    branches: [master, develop]
    paths:
      - 'src/**'
      - package.json
  pull_request:
    types:
      - opened
      - synchronize

jobs:
  build:
    if: ${{ github.repository == 'yikoyu/vuetify-pro-tiptap' }}

    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest]

    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/actions/build-setup

      - name: Build Lib
        run: pnpm build:lib

      - name: Publish PR
        env:
          GITHUB_TOKEN: ${{ secrets.ACCESS_TOKEN }}
        run: pnpm dlx pkg-pr-new publish --pnpm --packageManager=pnpm,npm,yarn
