name: Release

on:
  workflow_dispatch:

permissions:
  contents: read # for checkout

jobs:
  publish-to-npm:
    runs-on: ${{ matrix.os }}
    permissions:
      contents: write # to be able to publish a GitHub release
      issues: write # to be able to comment on released issues
      pull-requests: write # to be able to comment on released pull requests
      id-token: write # to enable use of OIDC for npm provenance

    strategy:
      matrix:
        os: [ubuntu-latest]

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: false

      - uses: ./.github/actions/build-setup

      - name: Update npm
        run: npm install npm@11.6.1 -g

      - name: Build Lib
        run: pnpm build:lib

      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.ACCESS_TOKEN }}
          NPM_CONFIG_REGISTRY: https://registry.npmjs.org/
          NPM_CONFIG_PROVENANCE: true
          SKIP_SIMPLE_GIT_HOOKS: 1
        run: pnpm semantic-release
